# Entornos virtuales
venv/
.venv/
.env/

# Archivos de configuración sensibles
*.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Ignorar checkpoints de Jupyter Notebook
.ipynb_checkpoints/